<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Pacientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let paciente of pacientes">
    <ion-card-header>
      <ion-card-title>{{paciente.name}}</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-label>RG: {{paciente.rg}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Data de Nasc.: {{paciente.dateOfBirth}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Altura: {{paciente.height}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Peso: {{paciente.height}}</ion-label>
      </ion-row>
      <ion-item lines="none">
        <ion-button color="dark" fill="clear" size="small">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button color="dark" fill="clear" size="small">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
